body {
    padding-top: 40px;
    padding-bottom: 40px;
}

blockquote {
    margin-bottom: 10px;
    border-left-color: #bbb;
}

form {
    margin-top: 10px;
}

.form-signin input[type="text"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.row {
    margin-left: 0px;
    margin-top: 10px;
}

.label {
    width: 90px;
}

.center-container{
	width:50%;
	margin: 0 auto;
}

.table-header span{
    cursor: pointer;
}

.st-sort-ascent:after{
    content: '\25B2';
}

.user-image{
  max-height: 250px;
}

.st-sort-descent:after{
    content: '\25BC'; 
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.navbar-default {
  background-color: #337ab7;
  border-color: #286090;
}
.navbar-default .navbar-brand {
  color: #e5e5e5;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #e5e5e5;
}
.navbar-default .navbar-nav > li > a {
  color: #e5e5e5;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #286090;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #286090;
}
.navbar-default .navbar-toggle {
  border-color: #286090;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #286090;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e5e5e5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e5e5e5;
}
.navbar-default .navbar-link {
  color: #e5e5e5;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e5e5e5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #286090;
  }
}