<div class ="container">

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header row">
      <h1>
        <span data-ng-bind="task.title"></span>
        <span class="label" ng-class="{'label-default': taskStatus=='Unclaimed', 'label-warning': taskStatus=='In Progress', 'label-primary': taskStatus=='Awaiting Confirmation', 'label-success': taskStatus=='Complete'}" style="font-size:38%;bottom:5px;position:relative">{{taskStatus}}</span>
      </h1>
    </div>

    <div ng-show="task.accepted && isCompleter || isRequester">
      <div class="row">
        <div class="col-md-2 col-xs-4">
          <strong>Task Requester</strong>
        </div>
        <div class="col-md-10 col-xs-8">
          <a data-ng-href="#/app/dashboard/{{task.requester.id}}"><span data-ng-bind="task.requester.get('fullName')"></span></a>
        </div>
      </div>
    </div>

    <div ng-show="task.accepted && (isRequester || isCompleter)">
      <div class="row">
        <div class="col-md-2 col-xs-4">
          <strong>Task Completer</strong>
        </div>
        <div class="col-md-10 col-xs-8">
          <a data-ng-href="#/app/dashboard/{{task.accepter.id}}"><span data-ng-bind="task.accepter.get('fullName')"></span></a>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2 col-xs-4">
        <strong>Payment</strong>
      </div>
      <div class="col-md-10 col-xs-8">
        $<span data-ng-bind="task.price"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-xs-4">
        <strong>Location</strong>
      </div>
      <div class="col-md-10 col-xs-8">
        <span data-ng-bind="task.location"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-xs-4">
        <strong>Requirements</strong>
      </div>
      <div class="col-md-10 col-xs-8">
        <sm-button>
          <span title="Requires Car"><img class="png-icon" data-ng-if="task.requiresCar == true" src="/js/views/requiresCar.png" style="width: 23px; height: 18px; margin-right:5px"></span>
        </sm-button>
        <sm-button>
          <span title="Requires Purchase"><img class="png-icon" data-ng-if="task.requiresPurchase == true" src="/js/views/requiresPurchase.png" style="width: 23px; height: 20px; margin-right:5px"></span>
        </sm-button>
        <sm-button>
          <span title="Requires Lifting"><img class="png-icon" data-ng-if="task.requiresLifting == true" src="/js/views/requiresLifting.png" style="width: 20px; height: 20px; margin-right:5px"></span>
        </sm-button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2 col-xs-4">
        <strong>Further instructions</strong>
      </div>
      <div class="col-md-10 col-xs-8">
        <span data-ng-bind="task.description"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-xs-8">
        <div ng-if="task.accepted == false && isRequester == true">
          <button id="deleteTask" class="btn btn-danger" data-ng-click="deleteTask()" value="Delete Task"><span>Delete Task</span></button>
        </div>
        <div ng-if="task.completed == false && isCompleter">
          <button id="completeTask" class="btn btn-success" data-ng-click="completeTask()" value="Complete Task"><span>Complete Task</span></button>
          <button id="relinquishTask" class="btn btn-danger" data-ng-click="relinquishTask()" value="Relinquish Task"><span>Give up Task</span></button>
        </div>
        <div ng-if="task.accepted == false && isRequester == false">
          <button id="claimTask" class="btn btn-primary" data-ng-click="claimTask()" value="Claim Task"><span>Claim Task</span></button>
        </div>
        <div ng-if="task.completed == true && task.confirmed == false && isRequester == true">
          <button id="confirmTask" class="btn btn-success" data-ng-click="confirmTask()" value="Confirm Task"><span>Task Was Completed</span></button>
          <button id="Report" class="btn btn-danger" data-ng-click="reportUser()" value="Report User"><span>Task Was Not Finished</span></button>
        </div>
      </div>
    </div>

  </div>
</div>

</div>