<div class ="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header row"><h1 data-ng-bind="viewUser.name"></h1></div>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">
              <strong>Email</strong>
            </div>
            <div class="col-md-8">
              <span data-ng-bind="viewUser.email"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <strong>Phone Number</strong>
            </div>
            <div class="col-md-8">
              <span data-ng-bind="viewUser.phone"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <strong>Rating</strong>
            </div>
            <div class="col-md-8">
              <div ng-if="rating != 0">
                <uib-rating ng-model="rating" max="5" readonly="true" aria-labelledby="default-rating"></uib-rating>
                (<span data-ng-bind="viewUser.rating.get('ratingCount')"></span>)
              </div>
              <div ng-if="rating == 0">
                <span>This user has not yet been rated</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div ng-if="isUser()">
                <a data-ng-href="#/app/editUser/{{viewUser.id}}"><button class="btn btn-default" type="edit">Edit</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <span class="pull-right"><img data-ng-src="{{viewUser.profilePicture.url()}}" class="user-image"></span>
        </div>
      </div>
      <div data-ng-controller="TaskTableController">
        <div class="row">
          <h3>User's Tasks</h3>
        </div>
        <div class="row" class="ng-cloak" data-ng-show="isUser()">
          <div class="btn-group">
              <label class="btn btn-primary" ng-model="current.value" uib-btn-radio="'To-do'">To-do</label>
              <label class="btn btn-primary" ng-model="current.value" uib-btn-radio="'Unclaimed'">Unclaimed</label>
              <label class="btn btn-primary" ng-model="current.value" uib-btn-radio="'Pending'">Pending</label>
              <label class="btn btn-primary" ng-model="current.value" uib-btn-radio="'Awaiting Confirmation'">Awaiting Confirmation</label>
              <label class="btn btn-primary" ng-model="current.value" uib-btn-radio="'All'">All</label>
          </div>
        </div>
        <div class="row">
          <table data-ng-if="!emptyTasks()" id="task-table" class="table table-striped" data-st-table="displayedTasks" data-st-safe-src="safeTasks">
              <thead>
                <tr>
                  <th data-st-sort="title" class="table-header"><span>Task</span></th>
                  <th data-st-sort="price" class="table-header"><span>Price</span></th>
                  <th data-st-sort="timeRequested" class="table-header"><span>Post time</span></th>
                  <th data-st-sort="expiration" class="table-header"><span>Expiration</span></th>
                  <th data-st-sort="completed" class="table-header"><span>Completed</span></th>
                  <th>Link</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="task in displayedTasks" data-ng>
                  <td data-ng-bind="task.title"></td>
                  <td data-ng-bind="task.price"></td>
                  <td data-ng-bind="(task.createdAt | date: 'MM/dd/yyyy h:mma')"></td>
                  <td data-ng-bind="(task.expiration | date: 'MM/dd/yyyy h:mma')"></td>
                  <td>
                    <i data-ng-if="task.completed == true" class="glyphicon glyphicon-ok" style="color:green; margin-left:30px"></i>
                    <i data-ng-if="task.completed == false" class="glyphicon glyphicon-remove" style="color:red; margin-left:30px"></i>
                  </td>
                  <td><a data-ng-href="#/app/task/{{task.id}}"><i class="glyphicon glyphicon-info-sign" style="margin-left:8px"></i></a></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5" class="text-center">
                    <div data-st-pagination="" data-st-items-by-page="itemsByPage" data-st-displayed-pages="7"></div>
                  </td>
                </tr>  
              </tfoot>
          </table>
          <h3 data-ng-if="emptyTasks()" style="color:grey">No tasks to display</h3>
        </div>
      </div>
    </div>
  </div>
</div>