<div class ="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Create a new task</h1>

      <form id="taskForm">
          Title:<div><input type="text" placeholder="Title" class="form-control" data-ng-model="newTask.title"/></div>
          Description:<div><textarea class="form-control" type="text-area" form="taskForm" data-ng-model="newTask.description"/></div>
          Price:<div><input type="number" min="0" class="form-control" data-ng-model="newTask.price"/></div>
          Location:<div><input type="text" class="form-control" placeholder="Location" data-ng-model="newTask.location"/></div>
          Expiration:<div>
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="expiration" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" data-ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <uib-timepicker data-ng-model="mytime" data-ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                </div>

        <div><input id="submitTask" type="submit" class="btn btn-primary" data-ng-click="commitTask()"></div>
      </form>
    </div>
  </div>    
</div>
