<div class ="container">

<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h2 data-ng-bind="task.title"></h2>
    <!-- <div class="row">
      <div class="col-md-1 col-xs-4">
        <strong>Category</strong>
      </div>
      <div class="col-md-11 col-xs-8">
        <span data-ng-bind="task.category"></span>
      </div>
    </div> -->
    
    <div class="row">
      <div class="col-md-1 col-xs-4">
        <strong>Location</strong>
      </div>
      <div class="col-md-11 col-xs-8">
        <span data-ng-bind="task.location"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-1 col-xs-4">
        <strong>Payment</strong>
      </div>
      <div class="col-md-11 col-xs-8">
        $<span data-ng-bind="task.price"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-1 col-xs-4">
        <strong>Completed</strong>
      </div>
      <div class="col-md-11 col-xs-8">
        <span data-ng-bind="task.completed"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1 col-xs-4">
        <strong>Claimed</strong>
      </div>
      <div class="col-md-11 col-xs-8">
        <span data-ng-bind="task.accepted"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-1 col-xs-4">
        <strong>Description</strong>
      </div>
      <div class="col-md-11 col-xs-8">
        <span data-ng-bind="task.description"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-xs-8">
        <div ng-if="task.completed == false && completer == true" class="pull-right">
          <button id="completeTask" class="btn btn-success" data-ng-click="completeTask()" value="Complete Task"><span>Complete Task</span></button>
          <button id="relinquishTask" class="btn btn-danger" data-ng-click="relinquishTask()" value="Relinquish Task"><span>Relinquish Task</span></button>
        </div>
        <div ng-if="task.accepted == false && isRequester == false" class="pull-right">
          <button id="claimTask" class="btn btn-primary" data-ng-click="claimTask()" value="Claim Task"><span>Claim Task</span></button>
        </div>
      </div>
    </div>

  </div>
</div>

</div>