<div class ="container">

<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h2 data-ng-bind="task.get('title')"></h2>
    <div class="row">
      <div class="col-md-2">
        <strong>Category</strong>
      </div>
      <div class="col-md-10">
        <span data-ng-bind="task.category"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <strong>Location</strong>
      </div>
      <div class="col-md-10">
        <span data-ng-bind="task.taskLocation"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <strong>Payment</strong>
      </div>
      <div class="col-md-10">
        $<span data-ng-bind="task.price"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <strong>Completed</strong>
      </div>
      <div class="col-md-10">
        <span data-ng-bind="task.completed"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <strong>Description</strong>
      </div>
      <div class="col-md-10">
        <span data-ng-bind="task.description"></span>
      </div>
    </div>
    
  </div>
</div>

<div><button id="claimTask" class="btn btn-primary" data-ng-click="claimTask()" value="Claim Task"><span>Claim Task</span></button></div>

</div>