<div class="container">
  <div class="jumbotron">
    <h1>@Now</h1>
    <p>a task marketplace for college students</p>
  </div>  
  <div class="row">
    <table id="taskTable" class="table table-striped" data-st-table="tasks">
        <thead>
          <tr>
            <th>Task</th>
            <th>Price</th>
            <th>Link</th>
            <th>Category</th>
            <th>Expiration</th>
          </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="task in tasks">
          <td data-ng-bind="task.title"></td>
          <td data-ng-bind="task.price"></td>
          <td><a data-ng-href="#/task/{{task.taskId}}"><span data-ng-bind="task.taskId"></span></a></td>
          <td data-ng-bind="task.category"></td>
          <td data-ng-bind="task.expiration"></td>
        </tr>
        </tbody>
    </table>
  </div>
  <div><button id="newTask" class="btn btn-primary" data-ng-click="newTask()" value="New Task"><span>New Task</span></button></div>
</div>

