<div class ="container">

<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h2 data-ng-bind="taskpage.title"></h2>
    <div class="row">
      <div class="col-md-2">
        <strong>Category</strong>
      </div>
      <div class="col-md-10">
        <span data-ng-bind="taskpage.category"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <strong>Location</strong>
      </div>
      <div class="col-md-10">
        <span data-ng-bind="taskpage.taskLocation"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <strong>Payment</strong>
      </div>
      <div class="col-md-10">
        $<span data-ng-bind="taskpage.price"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <strong>Completed</strong>
      </div>
      <div class="col-md-10">
        <span data-ng-bind="taskpage.completed"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <strong>Description</strong>
      </div>
      <div class="col-md-10">
        <span data-ng-bind="taskpage.description"></span>
      </div>
    </div>
    
  </div>
</div>

</div>