<div class ="container">

<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h2 data-ng-bind="sessionUser.name"></h2>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
            <strong>Email</strong>
          </div>
          <div class="col-md-8">
            <span data-ng-bind="sessionUser.email"></span>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-4">
            <strong>Phone Number</strong>
          </div>
          <div class="col-md-8">
            <span data-ng-bind="sessionUser.phone"></span>
          </div>
        </div>
        
      </div>
      <div class="col-md-4">
        <span class="pull-right"><img data-ng-src="{{sessionUser.profilePicture}}" class="user-image"></span>
      </div>
    </div>
  </div>
</div>

</div>